{% extends "partials/_auth_layout.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
<div class="account-box">
  <div class="account-wrapper">
    <h3 class="account-title">Login</h3>
    <p class="account-subtitle">Access to our dashboard</p>

    <!-- Account Form -->
    <form method="POST" action="{% url 'account_login' %}">
      {% include "partials/_messages.html" %}
      {% include "partials/_form_errors.html" %}
      <div class="form-group">
        <label>Username / Email </label>
        <input class="form-control" type="text" placeholder="E-mail address or username"
        id="{{form.login.id_for_label}}" name="{{form.login.name}}" required value="{{form.login.value|default:''}}">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label>Password</label>
          </div>
          <div class="col-auto">
            <a class="text-muted" href="{% url 'account_reset_password' %}">
              Forgot password?
            </a>
          </div>
        </div>
        <input class="form-control" type="password" placeholder="password"
        id="{{form.password.id_for_label}}" name="{{form.password.name}}" required>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary account-btn" type="submit">Login</button>
      </div>
    </form>
    <!-- /Account Form -->

  </div>
</div>
{% endblock body %}
