{% extends 'partials/_layout.html' %}
{% load i18n static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Change Password</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
        
            <form method="POST">
                {% include "partials/_form_errors.html" %}
                <div class="form-group">
                  <label>Current Password </label>
                  <input class="form-control" type="password" placeholder="Current Password" name="{{form.oldpassword.name}}" required 
                  id="id_{{form.oldpassword.name}}">
                </div>
                <div class="form-group">
                    <label>New Password </label>
                    <input class="form-control" type="password" placeholder="New Password" name="{{form.password1.name}}" required 
                    id="id_{{form.password1.name}}">
                  </div>
                  <div class="form-group">
                    <label>New Password (again) </label>
                    <input class="form-control" type="password" placeholder="Confirm new password" name="{{form.password2.name}}" required 
                    id="id_{{form.password2.name}}">
                  </div>
                <div class="form-group text-center">
                  <button class="btn btn-primary account-btn" type="submit">Change Password</button>
                  <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                </div>
              </form>
        </div>
    </div>
</div>



{% endblock content %}

{% block extra_script %}
<script>

</script>        
{% endblock extra_script %}