{% extends 'partials/_layout.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome {{user}}!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="alert alert-primary">
        <span>Navigate Your way via the available Options</span>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <a href="{% url 'course:courses' %}" class="text-primary">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{no_of_courses}}</h3>
                            <span>Courses Created</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <a href="{% url 'department:departments' %}" class="text-primary">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{no_of_departments}}</h3>
                            <span>Departments Created</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <a href="{% url 'room:rooms' %}" class="text-primary">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{no_of_rooms}}</h3>
                            <span>Rooms Created</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <a href="{% url 'home:timetables' %}" class="text-primary">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-table"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{no_of_timetables}}</h3>
                            <span>Time-Tables Created</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <a href="{% url 'home:edit-profile' %}" class="text-primary">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-cog"></i></span>
                        <div class="dash-widget-info">
                            <!-- <h3>218</h3> -->
                            <span>Settings</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock content %}